.inputForm, .inputForm * {
  user-select: none;
  -webkit-user-select: none;
}

.inputForm {
  background-color: var(--color-menu-backdrop);
  color: var(--color-menu-border);
  font-family: Arial;
  padding: 0 1rem 1rem 1rem;
  border: 1px solid var(--color-menu-border);
  border-radius: .5rem;
  margin: 0.5rem;
  width: 35rem;
  height: auto;
  display: block;
  z-index: 100;
  overflow: hidden;
  transition: width .1s, scale 2s;
  text-align: center;
}

.inputForm:not(.visible) {
  scale: 80%;
}

/*phones, so that the controls will go on top*/
@media (max-aspect-ratio: 5/8) {
  .inputForm {
    /*margin: 0;*/
  }

  .inputForm:not(.collapsed) {
    height: auto;
    width: auto;
    max-width: 80%;
  }

}

.inputForm > h3 {
  text-align: left;
}

.inputForm label {
  text-align: right;
  display: inline-block;
  height: 1.3rem;
  width: 30%;
  min-width: 5rem;
  padding-right: 4%;
}

.inputForm > div > input, select {
  height: 1.3rem;
  width: 50%;
  margin: .2rem 0;
  display: inline-block;
  border: 1px solid var(--color-menu-border);
  background-color: var(--color-menu-border);
  border-radius: .5rem;
  box-sizing: border-box;
}

.inputForm input:read-only {
  border: 0;
  box-shadow: none;
  background-color: var(--color-menu-subtext);
}

.inputForm input::placeholder {
  color: var(--color-menu-backdrop);
}

.inputForm input:hover, select:hover {
  border: 1px solid black;
}

.inputForm button {
  padding: 1rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-block: 1rem;
  margin-inline: .7rem;
  background-color: var(--color-backdrop-disabled);
}

.inputForm button:not(:disabled) {
  background-color: var(--color-backdrop);
  color: var(--color-text);
  border: var(--color-btn-border);
}

.inputForm button:hover:not(:disabled) {
  background-color: var(--color-btn-hover);
  border: 1px solid black;
}

button#deleteReceipt {
  background-color: var(--color-btn-delete);
  border: var(--color-btn-delete-hover);
}

button#deleteReceipt:hover {
  background-color: var(--color-btn-delete-hover);
}

/* this creates carousel effect */
#form-section-body {
  padding: 1rem;
  display: flex;
  align-items: flex-start; /* without this the forms all stretch to eq heights */
  overflow-x: scroll;
  /*alignment must be set on the child elements below*/
  scroll-snap-type: inline mandatory;
}

/*hide scroll bar*/
#form-section-body::-webkit-scrollbar {
  display: none;
}

/*preserves form width in carousel*/
#form-section-body > form {
  flex: none;
  scroll-snap-align: center;
}

#form-section-nav > button {
  height: 2rem;
  width: 2rem;
}

#form-section-nav > button.visible {
  background-color: blue;
}
