:root {
    --color-menu-backdrop : #2f3032;
    --color-menu-backdrop-hover: #6e6f74;
    --color-menu-border : lightgrey;
    --color-menu-subtext: #888888;
    --color-menu-btn-background: #4CAF50;
    --color-menu-btn-text: lightgrey;
    --color-menu-btn-hover: #6e6f74;

    --color-outline: #D9D3BF;
    --color-backdrop: #8bb54a;
    --color-backdrop-hover: #45a049;
    --color-text: white;

    --color-card-background: #77746c;
    --color-white: white;
    --color-scrollbar: #5b6367;
    --color-scrollbar-hover: #555;
}

body {
  background-size: 50%;
  background-color: darkgrey;
  background-image: url(/game-numbers/img/pokemon/backgrounds/background_line_art_1.jpg);
  background-blend-mode: multiply;
}

i {
  vertical-align: bottom;
}
